<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<!-- Bo qua che do Compatibility cua IE8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CNT Logistics</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/normalize.css" rel="stylesheet"/>
	<link href="css/carousel.css" rel="stylesheet"/>
	<link href="css/main.css" rel="stylesheet"/>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type='text/javascript' src="js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="img/computer.ico">
</head>
<body>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<!-- main menu -->
							<ul class="nav nav-justified main-nav">
								<li><img src="images/cnt-logo.png" alt="388ic logo" class="logo"/></li>
								<li><a href="index.html">TRANG CHỦ</a></li>
								<li><a href="gioi-thieu.html">GIỚI THIỆU</a></li>
								<li><a href="dich-vu.html">DỊCH VỤ</a></li>
								<li class="active"><a href="san-pham.html">SẢN PHẨM</a></li>
								<li><a href="tin-tuc.html">TIN TỨC</a></li>
								<li><a href="lien-he.html">LIÊN HỆ</a></li>
							</ul>
		</div>
	</div>
	
	<div class="row banner-slide">
		<div class="col-md-12">
			<img src="images/dich-vu-banner.png" class="introduce-image"/>
		</div>
	</div>
	
	<!-- ***************************** Tin tuc *************************** -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2 news">
			<div class="row">
				<div class="col-md-9">
					<h3>Sản phẩm</h3>
					<hr/>
					<div class="row">
						<div class="col-md-12">
							<h4 class="news-heading">Container văn phòng 10feet</h4>
							<img src="images/products/chi-tiet-san-pham.png" alt="cnt dich vu 1" class="img-thumbnail product-image-large"/>
							
							
							<!-- *************************** thong so san pham ******************************* -->
							<ul class="nav nav-tabs nav-justified product-info">
								<li>
									<a href="san-pham-chi-tiet.html">Thông số kỹ thuật</a>
								</li>
								<li><a href="san-pham-chi-tiet-bao-hanh.html">Bảo hành</a></li>
								<li class="active"><a href="san-pham-chi-tiet-lien-he.html">Liên hệ đặt hàng</a></li>
							</ul>
							<div class="product-detail">
									<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
									<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
									<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
									<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
									<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
							</div>
							<!-- *************************** End thong so san pham ***************************** -->
							
							<!-- ***************************** cac san pham khac ************************** -->
							<div class="news-other">
								<h4><span class="label label-primary">Các sản phẩm khác</span></h4>
								<ul class="other-news">
									<li><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Container lạnh 10 feet</a></li>
									<li><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Container lạnh 10 feet</a></li>
									<li><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Container lạnh 10 feet</a></li>
									<li><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Container lạnh 10 feet</a></li>
								</ul>
							</div>
							<!-- ***************************** End cac tin khac ********************** -->
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					<h3>Nhóm tin tức</h3>
					<hr/>
					<div class="row">
						<div class="col-md-12">
							<img src="images/services/dich-vu-1.png" alt="cnt dich vu 1" class="img-thumbnail news-thumb"/>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<img src="images/services/dich-vu-1.png" alt="cnt dich vu 1" class="img-thumbnail news-thumb"/>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<img src="images/services/dich-vu-1.png" alt="cnt dich vu 1" class="img-thumbnail news-thumb"/>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<!-- ***************************** End Tin tuc *************************** -->
	
	
	<!-- ***************************** Doi tac- Khach hang *************************** -->
	<div class="row partner">
		<div class="col-md-12">
			<center><img src="images/partners.png"/></center>
		</div>
	</div> <!-- ***************************** End Doi tac- Khach hang *************************** -->
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2 footer-menu">
			<div class="row">
				<div class="col-md-3">
					<h4>Vận tải đa phương thức</h4>
					<ul class="nav nav-text">
						<li><a href="#">Đường bộ</a></li>
						<li><a href="#">Đường biển</a></li>
						<li><a href="#">Đường hàng không</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4>Thủ tục xuất nhập khẩu</h4>
					<ul class="nav nav-text">
						<li><a href="#">Tư vấn quy định</a></li>
						<li><a href="#">Thủ tục hành chính</a></li>
						<li><a href="#">Kiểm định hàng hóa</a></li>
						<li><a href="#">Kê khai hải quan</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4>Dịch vụ kho vận</h4>
					<ul class="nav nav-text">
						<li><a href="#">Đóng gói hàng hóa</a></li>
						<li><a href="#">Cho thuê kho bãi</a></li>
						<li><a href="#">Giao nhận hàng hóa</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4>Liên hệ</h4>
					<ul class="nav nav-text">
						<li><a>CNT Logistics Ltd</a></li>
						<li><a>28 Lê Thánh Tông, Ngô Quyền, Hải Phòng
								0313.247.365
								contact@cntlogistics.com.vn
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row footer">
		<div class="col-md-8 col-md-offset-2">
			<ul class="nav nav-justified main-nav">
				<li><a href="#">TRANG CHỦ</a></li>
				<li><a href="#">GIỚI THIỆU</a></li>
				<li><a href="#">DỰ ÁN</a></li>
				<li><a href="#">KHÁCH HÀNG</a></li>
				<li><a href="#">ĐỐI TÁC</a></li>
				<li><a href="#">LIÊN HỆ</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 footer-copyright">
			<h5>Bản quyền thuộc về CNT Logistics Ltd</h5>
		</div>
	</div>
	
</body>
</html>
