<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<!-- Bo qua che do Compatibility cua IE8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>388IC</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/normalize.css" rel="stylesheet"/>
	<link href="css/carousel.css" rel="stylesheet"/>
	<link href="css/main.css" rel="stylesheet"/>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type='text/javascript' src="js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="img/computer.ico">
</head>
<body>
	
	<div class="row wrapper">
		<div class="col-md-8 col-md-offset-2 main-content">
			
			<!-- *********************************** header (logo + main menu) *********************************** -->
			<div class="row">
				<div class="col-md-12">
					<div class="row header">
						<div class="col-md-12">
							
							<!-- main menu -->
							<ul class="nav nav-pills nav-justified">
								<li><img src="images/388ic-logo-transparent.png" alt="388ic logo" class="logo"/></li>
								<li><a href="index.html">TRANG CHỦ</a></li>
								<li><a href="gioi-thieu.html">GIỚI THIỆU</a></li>
								<li><a href="du-an.html">DỰ ÁN</a></li>
								<li class="active"><a href="khach-hang.html">KHÁCH HÀNG</a></li>
								<li><a href="tai-lieu.html">TÀI LIỆU</a></li>
								<li><a href="lien-he.html">LIÊN HỆ</a></li>
							</ul>

						</div>
					</div>
				</div>
			</div> <!-- *********************************** end header *********************************** -->
	
			<!-- *********************************** banner slide Carousel ********************************* -->
			<div class="row">
				<div class="col-md-12">
					
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					  </ol>
					  <div class="carousel-inner">
						<div class="item active">
						  <img src="images/slide/slide1.png" alt="First slide" class="img-thumbnail banner_image">
						  <div class="container">
							<div class="carousel-caption">
							  <h1>Dự án số 1</h1>
							  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
							  <p><a class="btn btn-lg btn-primary" href="#" role="button">Chi tiết</a></p>
							</div>
						  </div>
						</div>
						<div class="item">
						  <img src="images/slide/slide2.png" alt="Second slide" class="img-thumbnail banner_image">
						  <div class="container">
							<div class="carousel-caption">
							  <h1>Dự án số 2</h1>
							  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
							  <p><a class="btn btn-lg btn-primary" href="#" role="button">Chi tiết</a></p>
							</div>
						  </div>
						</div>
						<div class="item">
						  <img src="images/slide/slide3.png" alt="Third slide" class="img-thumbnail banner_image">
						  <div class="container">
							<div class="carousel-caption">
							  <h1>Dự án số 3</h1>
							  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
							  <p><a class="btn btn-lg btn-primary" href="#" role="button">Chi tiết</a></p>
							</div>
						  </div>
						</div>
					  </div>
					  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>  <!-- *********************************** end banner slide Carousel ***************************** -->
			
			<div class="row">
				<div class="col-md-3">
					<h3 class="top-margin">KHÁCH HÀNG</h3>
					<div class="list-group">
						<a href="du-an-chi-tiet.html" class="list-group-item active">
							<span class="glyphicon glyphicon-chevron-right"></span> Danh sách
						</a>
						<a href="du-an-chi-tiet.html" class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span> Quan hệ</a>
					</div>
				</div>
				
				<div class="col-md-9">
					<!-- *********************************** Our Clients ***************************** -->
					<div class="row">
						<div class="col-md-12">
							<h3 class="top-margin"></h3>
							<div class="row">
								<div class="col-md-6 customer-block">
									<img src="images/clients/client01.png" alt="388ic client 01" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">AES (USA)</a></h4>
								</div>
								<div class="col-md-6 customer-block">
									<img src="images/clients/client02.jpg" alt="388ic client 02" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">DOOSAN (KOREA)</a></h4>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 customer-block">
									<img src="images/clients/client03.jpg" alt="388ic client 01" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">Hyundai</a></h4>
								</div>
								<div class="col-md-6 customer-block">
									<img src="images/clients/client04.jpg" alt="388ic client 02" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">Posco E&C</a></h4>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 customer-block">
									<img src="images/clients/client05.jpg" alt="388ic client 01" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">UNDP</a></h4>
								</div>
								<div class="col-md-6 customer-block">
									<img src="images/clients/client06.gif" alt="388ic client 02" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">AMERICAN EMBASSY (USA)</a></h4>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 customer-block">
									<img src="images/clients/client07.gif" alt="388ic client 01" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">GAMUDA BERHARD (MALAYSIA)</a></h4>
								</div>
								<div class="col-md-6 customer-block">
									<img src="images/clients/client08.jpg" alt="388ic client 02" class="customer-logo"/>
									<h4 class="customer-title"><a href="#">TOSHIBA</a></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- *********************************** Footer ***************************** -->
			<div class="row footer">
				<div class="col-md-12">
					<nav class="navbar navbar-default navbar-justify" role="navigation">
						<div class="row container-fluid">
							<div class="col-md-12">
								<address>
									
									<h3>
										<img src="images/388ic-logo-transparent.png" alt="388ic logo" class="footer_logo"/>
										Công ty cổ phần xây lắp 388IC
									</h3><hr>
									<p><span class="glyphicon glyphicon-home"></span>  Địa chỉ: Lô 22 Lê Hồng Phong, Quận Ngô Quyền, Thành phố Hải Phòng</p>
									<p><span class="glyphicon glyphicon-phone-alt"></span>  Điện thoại: 0313.247.365</p>
									<p><span class="glyphicon glyphicon-envelope"></span>  Email: quyvm@388ic.vn</p>
								</address>
							</div>
						</div>
					</nav>
				</div>			
				
			</div>
			<!-- *********************************** End Footer ***************************** -->
		
		</div>
	</div>

</body>
</html>
